*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(155, 185, 185);
}

header>img{
    max-width: 100%;
    width: auto;
    height: auto;
}

nav{
    z-index: 10;
    background-color: rgb(165, 195, 195);
    height: 100px;
    position: sticky;
    top: 0;
}

nav>ul{
    text-align: center;
}

nav>ul>li{
    display: inline;
    list-style-type: none;
    padding: 0px 25px 0px 25px;
}

nav>ul>li>a{
    color: rgb(115, 135, 135);
    text-decoration: none;
    font-weight: bold;
    font-family: "Comic Relief";
    text-transform: uppercase;
    font-size: 20px;
    line-height: 100px;
}

nav>ul>li>a:hover{
    font-weight: bold;
    color: rgb(155, 175, 175)
}

section{
    background-color: rgb(195, 225, 225);
    text-align: center;
    padding-top: 100px;
}

section>h1{
    color: rgb(85, 105, 105);
}

section>p{
    color: rgb(95, 115, 115);
    font-size: 20px;
    margin: 0px 80px 0px 80px;
}

section>p>a{
    color: rgb(135, 115, 115);
    text-decoration: none;
}

section>p>a:hover{
    color: rgb(175, 155, 155);
}

footer{
    background-color: black;
    width: 100%;
    height: 75px;
    text-align: center;
}

footer>p{
    color: white;
    line-height: 75px;
}

footer>p>a{
    color: rgb(160, 150, 150);
    text-decoration: none;
}

footer>p>a:hover{
    color: rgb(200, 190, 190);
}

.parallax{
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    z-index: 5;
}

.parallax>img{
    max-width: 100%;
    width: auto;
    height: auto;
}

.parallax>.bottom_transition{
    transform: scale(-1, -1);
    margin-top: 40vh;
    margin-bottom: -5px;
}

#pimg1{
    background-image:url("../img/img1.jpg");
}

#pimg2{
    background-image:url("../img/img2.jpg");
}

#section3{
    padding-bottom: 20px;
}
#section3>#img1{
        width: 35%;
        max-width: 100%;
}
#section3>#img2{
        width: 45%;
        max-width: 100%;
}
#section3>#img3{
        width: 60%;
        max-width: 100%;
}

@media(max-width: 700px){
    nav{
        height: 50px;
    }
    nav>ul>li>a{
        line-height: 50px;
        font-size: 14px;
    }
    nav>ul>li{
        padding: 0px 10px 0px 10px;
    }
    section{
        padding-top: 50px;
    }
    section>p{
        font-size: 14px;
    }
    #section3>#img1{
        width: 55%;
        max-width: 100%;
    }
    #section3>#img2{
            width: 65%;
            max-width: 100%;
    }
    #section3>#img3{
            width: 80%;
            max-width: 100%;
    }

}
